@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome<strong>@ViewBag.nombre</strong></h1>

    <h2>Tipo usuario: <strong>@ViewData["tipoUsuario"]</strong></h2>

    

</div>
